.unknown {
  background-color: red;
}

.label {
  width: 50px;
}

.commandEntry {
  display: flex;
  border-bottom: 1px solid lightgray;
}

.commandSummary {
  
}

.commandDetails {
  display: none;
}

.commandEntryExpanded .commandDetails {
  display: block;
}