.app {
  display: flex;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.appBar {
  padding-right: 24px;
}

.content {
  padding-top: 80px;
  display: flex;
}

.menuItem {
  margin-bottom: 0.5rem;
}

.menuItem a {
  display: inline-flex;
  padding: 0.25rem;
  text-decoration: none;
}

.menuItem a.active {
  font-weight: bold;
}

.menuItem a:hover {
  text-decoration: underline;
}